[submodule "debs/ecj4.6"]
	path = debs/ecj4.6
	url = https://github.com/BuildAPKs/debs.ecj4.6.buildAPKs
[submodule "debs/ecj4.7"]
	path = debs/ecj4.7
	url = https://github.com/BuildAPKs/debs.ecj.buildAPKs
[submodule "docs"]
	path = docs
	url = https://github.com/sdrausty/docsBuildAPKs
[submodule "libs"]
	path = libs
	url = https://github.com/sdrausty/buildAPKsArtifacts
[submodule "scripts/maintenance"]
	path = scripts/maintenance
	url = https://github.com/sdrausty/maintenanceBuildAPKs
[submodule "scripts/shlibs"]
	path = scripts/shlibs
	url = https://github.com/sdrausty/shlibs
[submodule "sources/applications"]
	path = sources/applications
	url = https://github.com/sdrausty/buildAPKsApps
[submodule "sources/browsers"]
	path = sources/browsers
	url = https://github.com/sdrausty/buildAPKsBrowsers
[submodule "sources/clocks"]
	path = sources/clocks
	url = https://github.com/sdrausty/buildAPKsClocks
[submodule "sources/compasses"]
	path = sources/compasses
	url = https://github.com/sdrausty/buildAPKsCompasses
[submodule "sources/entertainment"]
	path = sources/entertainment
	url = https://github.com/sdrausty/buildAPKsAmusements
[submodule "sources/flashlights"]
	path = sources/flashlights
	url = https://github.com/sdrausty/buildAPKsFlashlights
[submodule "sources/games"]
	path = sources/games
	url = https://github.com/sdrausty/buildAPKsGames
[submodule "sources/livewallpapers"]
	path = sources/livewallpapers
	url = https://github.com/sdrausty/buildAPKsLiveWallpapers
[submodule "sources/samples"]
	path = sources/samples
	url = https://github.com/sdrausty/buildAPKsSamples
[submodule "sources/tools"]
	path = sources/tools
	url = https://github.com/sdrausty/buildAPKsDevTools
[submodule "sources/top10"]
	path = sources/top10
	url = https://github.com/sdrausty/buildAPKsTop10
[submodule "sources/tutorials"]
	path = sources/tutorials
	url = https://github.com/sdrausty/buildAPKsTutorials
[submodule "sources/widgets"]
	path = sources/widgets
	url = https://github.com/sdrausty/buildAPKsWidgets
